*.awf
work/
*.wlf

*.bak
*.log

#Eclipse Project files
software/*.elf
software/*.map
software/*.objdump
software/*.o
software/*.d

#Eclipse BPS project files
software/_bps/obj/

*.zip

# Quartus Files
DE10_Lite_Computer_YD
db/
incremental_db/
output_files/
simulation/
*.v.bak
*.bak
*.rpt