*.awf
work/
*.wlf

*.bak
*.log

#Eclipse Project files
software/*.elf
software/*.map
software/*.objdump
software/*.o
software/*.d

#Eclipse BPS project files
software/_bps/obj/

*.zip

# Quartus Files

db/
incremental_db/
output_files/
simulation/
software/
Computer_System/
*.v.bak
*.bak
*.rpt
*.amp
*.jdi
*.pin
*.pof
*.sdc
*.sld
*.sof
*.nlv
*.tcl
*.xml
*.done
*.smsg
*.summary